@import "tailwindcss";

:root {
    --background: #0d0b05;
    --foreground: #f2eddc;
    --primary: #d6ab00;
    --dark-primary: #876c00;
    --secondary: #3d4c47;
    --accent: #8e52be;
    --modal-primary: #d66b00;
    --dark-modal-primary: #a85502;
    --popover: #171717;
    --hover-popover: #262626;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
